<form method="POST" [formGroup]="alterarPedido" (ngSubmit)=" alterarStatus()" class="p-2 ">
    <div class="form-row ">
        <div class="form-group col-md-2 ">
            <label for="code">Pedido: </label>
            <input class="form-control" (blur)="puxarPedido()" type="tel" id="code" name="code" formControlName="code">
        </div>
        <div class=" form-group col-md-3 ">
            <label for="name">Produto</label>
            <input type="text " class="form-control " id="name" readonly=“true” formControlName="name">
        </div>
        <div class="form-group col-md-4 ">
            <label for="date">Data</label>
            <input type="date" class="form-control" readonly=“true” id="date" formControlName="date">
        </div>
    </div>

    <div class=" form-row ">
        <div class=" form-group col-md-6 ">
            <label for="address">Endereço</label>
            <input type="text " class="form-control " readonly=“true” id="address" formControlName="address">
        </div>

        <div class=" form-group col-md-3 ">
            <label for="amount">Quantidade</label>
            <input type="text " class="form-control " readonly=“true” id="amount" formControlName="amount">
        </div>
        <div class=" form-group col-md-3 ">
            <label for="valueProduct">Valor</label>
            <input type="text" class="form-control" readonly=“true” id="valueProduct" formControlName="valueProduct">
        </div>
    </div>
    <div class=" form-row ">
        <div class="form-group col-md-5 ">
            <label for="payment.status">Status Pagamento</label>
            <input type="text " class="form-control " id="payment.status" formControlName="payment">
        </div>
        <div class=" form-group col-md-5 ">
            <label for="request.statusRequest ">Status Pedido</label>
            <input type="text " class="form-control " id="request.statusRequest " formControlName="request">
        </div>


        <!-- <div class=" form-group col-md-2 ">
            <label for="zipCode ">Frete</label>
            <input type="text " class="form-control " readonly=“true” id="zipCode " formControlName="zipCode ">
        </div> -->
    </div>

    <button type="submit " class="btn btn-success ">Alterar</button>
</form>