<main *ngIf="login; else erro">
    <div class="row p-0 m-0">
        <div class="col-md-2 m-0 p-0">
            <app-menu></app-menu>
        </div>
        <div class="col-md-10 p-0 m-0">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="alterar-tab" data-toggle="tab" href="#alterar" role="tab"
                        aria-controls="alterar" aria-selected="true">Alterar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="listar-tab" data-toggle="tab" href="#listar" role="tab"
                        aria-controls="listar" aria-selected="false">Listar</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- função alterar -->
                <div class="row col-12 m-0 p-0 tab-pane fade" id="alterar" role="tabpanel"
                aria-labelledby="alterar-tab">
                <app-alterar-cliente></app-alterar-cliente>
                </div>
                <div class="row col-12 m-0 p-0 tab-pane fade" id="listar" role="tabpanel"
                aria-labelledby="listar-tab">
                    <app-listar-cliente></app-listar-cliente>
                </div>
            </div>
        </div>
    </div>
</main>
<ng-template #erro>
    <div class="alert alert-danger text-center" role="alert">
        <strong>USUARIO PRECISA ESTAR LOGADO!</strong>
    </div>
</ng-template>