<div class="col-md-12 m-0 p-0 ">
    <table class="table">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome</th>
                <th scope="col">CPF</th>
                <th scope="col">data de nascimento</th>
                <th scope="col">telefone</th>
                <th scope="col">email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clientes" class="text-center">
                <th scope="row">{{item.idClient}}</th>
                <td>{{item.name}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.birthDate | date:"dd/MM/yyyy"}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.mail}}</td>
            </tr>
        </tbody>
    </table>
</div>
