<div class="row ml-2 p-0 m-0">
    <h3>Preencha <strong>todos</strong> os campos</h3>
</div>
<form method="POST" [formGroup]="formularioAlterar" (ngSubmit)="alterarProduto()">
    <div class="row p-0 m-0 mr-1 ml-1">
        <div class="col-md-1 p-0 m-0">
            <div class="form-group">
                <label for="codProduct">codigo: </label>
                <input class="form-control" (blur)="puxarProduto()" type="tel" id="codProduct" name="codProduct" required
                    formControlName="codProduct">
            </div>
        </div>
        <div class="col-md-2 p-0 m-0  ml-3">
            <div class="form-group">
                <label for="name">Nome: </label>
                <input class="form-control" type="text" id="name" name="name"
                    placeholder="Nome do produto" required formControlName="name">
            </div>
        </div>
        <div class="col-md-3 p-0 m-0 ml-3">
            <div class="form-group">
                <label for="image">Imagem: </label>
                <input class="form-control semborda" (change)="mostrarImagem()" type="file" id="image" name="image" required
                    formControlName="image">
            </div>
        </div>
        <div id="imagem" class="col-md-1 p-0 m-0">
            <img src="{{imagem}}" height="35" width="35">
        </div>
        <div class="col-md-3 p-0 m-0 ml-3">
            <div class="form-group">
                <label for="category">Categoria: </label>
                <select id="category" name="category" formControlName="category"
                    class="form-control">
                    <option value="" disabled selected>Selecionar categoria</option>
                    <option value="2">bola importada</option>
                    <option value="7">Gourmet</option>
                    <option value="8">DBZ</option>
                    <option value="10">Acid Eaters</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 p-0 m-0">
            <div class="form-group">
                <label for="description">Descrição: </label>
                <textarea class="form-control" type="text" id="description" name="description"
                    placeholder="Digite a descrição" required formControlName="description">
        </textarea>
            </div>
        </div>
        <div class="d-flex justify-content-between col-12">
        <div class="col-md-3 p-0 m-0">
            <div class="form-group">
                <label for="valueProduct">Valor R$: </label>
                <input class="form-control" (keyup)="desconto()" id="valueProduct" name="valueProduct"
                    placeholder="00.00" type="tel" required formControlName="valueProduct">
                <small>*separe as casa decimais com ponto</small>
            </div>
        </div>
        <div class="col-md-2 p-0 m-0 ml-2">
            <div class="form-group">
                <label for="desc">Valor com desconto R$: </label>
                <input class="form-control" id="desc" name="valueDiscount"
                    placeholder="00.00" type="tel" formControlName="valueDiscount">
                <small>*apenas para visualização</small>
            </div>
        </div>
        <div class="col-md-3 p-0 m-0 ml-3">
            <div class="form-group">
                <label for="brand">Marca: </label>
                <input class="form-control" id="	brand" name="brand" placeholder="Mike Cong"
                    type="tel" required formControlName="brand">
            </div>
        </div>
        <div class="col-md-3 p-0 m-0 ml-3">
            <div class="form-group">
                <label for="model">Modelo: </label>
                <input class="form-control" placeholder="buligão" type="tel" id="model" name="model"
                    required formControlName="model">
            </div>
        </div>
    </div>
        <div id="centro" class="col-md-12 mt-3 text-center">
            <button class="btn btn-outline-info col-md-3">Alterar</button>
        </div>
    </div>
</form>
