<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card-header mt-5">
                    <form class="form-row" [formGroup]="formularioLogin" *ngIf="!login; else usuario">
                        <div class="col-md-12 formGroup">
                            <label for="email" class="pl-3"><strong>Email:</strong></label>
                            <input class="form-control" type="text" name="email" id="email" required placeholder="exemplo@exemplo.com" formControlName="email">
                        </div>
                        <div class="col-md-12 formGroup mt-3">
                            <label for="senha" class="pl-3"><strong>Senha:</strong></label>
                            <input class="form-control" type="password" name="senha" id="senha" placeholder="digite sua senha" formControlName="senha" required>
                        </div>
                        <div id="entrar" class="col-md-12 mt-3">
                            <button class="btn btn-info btn-block" (click)="logando()">Entrar</button>
                        </div>
                    </form>
                    <ng-template #usuario>
                        <div class="alert alert-danger text-center" role="alert">
                            <strong>Dados invalidos e/ou você não tem permissão!</strong>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>