<main>
    <div class="container-fluid">
        <div>
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status Pagamento</th>
                        <th scope="col" [formGroup]="formularioStatus">
                            <select formControlName="status" (change)="listarStatus()" style="color: black; font-weight: bold;">
                                <option disabled selected>Statuts Pedido</option>
                                <option value="pagamento foi aprovado">pagamento foi aprovado</option>
                                <option value="Aguardando Pagamento">Aguardando Pagamento</option>
                                <option value="saiu para entrega ao destinatário">saiu para entrega ao destinatário</option>
                                <option value="em separação">em separação</option>
                                <option value="entregue a transportadora">entregue a transportadora</option>
                                <option value="entregue">entregue</option>
                                <option value="cancelado">cancelado</option>
                                <option value="1">Todos</option>
                            </select>
                        </th>
                        <th scope="col">Produto</th>
                        <th scope="col">Qtd</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Frete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedidos of pedido">
                        <th scope="row">{{pedidos.detalhe?.request.date | date:"dd/MM/yyyy"}}</th>
                        <th scope="row">{{pedidos.detalhe?.request.id}}</th>
                        <th scope="row">{{pedidos.detalhe?.request.price}}</th>
                        <th scope="row">{{pedidos.detalhe?.request.payment.status}}</th>
                        <th scope="row">{{pedidos.detalhe?.request.statusRequest[pedidos.quantidade].statusRequest}}</th>
                        <th scope="row">{{pedidos.detalhe?.codProduct.name}}</th>
                        <th scope="row">{{pedidos.detalhe?.amount}}</th>
                        <th scope="row">{{pedidos.detalhe?.request.address.logradouro}},
                            {{pedidos.detalhe?.request.address.number}} -
                            {{pedidos.detalhe?.request.address.complement}}
                            <br>
                            {{pedidos.detalhe?.request.address.neighborhood}}
                            <br>
                            {{pedidos.detalhe?.request.address.city}} - {{pedidos.detalhe?.request.address.state}}
                            <br>
                            {{pedidos.detalhe?.request.address.zipCode}}
                        </th>
                        <th scope="row">{{pedidos.detalhe?.valueFreight}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
