<main>
    <div class="container">
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Pedido</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Status Pagamento</th>
                        <th scope="col">Status Pedido</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let pedidos of pedido">
                            <th scope="row">{{pedidos.detalhe.request?.date }}</th>
                            <th scope="row">{{pedidos.detalhe.request?.id}}</th>
                            <th scope="row">{{pedidos.detalhe.request?.price}}</th>
                            <th scope="row">{{pedidos.detalhe.request?.payment.status}}</th>
                            <th scope="row">{{pedidos.detalhe.request?.statusRequest[pedidos.quantidade]?.statusRequest}}</th>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>