<main *ngIf="login; else erro">
    <div class="row p-0 m-0">
        <div class="col-md-2 m-0 p-0">
            <app-menu></app-menu>
        </div>
        <div class="col-md-3 m-0 p-0 ml-1">
            <h5 class="text-center">Contato</h5>
            <table class="table">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Qtd contatos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contato of contatos">
                        <th scope="row">{{contato[1]}}</th>
                        <th scope="row" class="text-center">{{contato[0]}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5 m-0 p-0 ml-3">
            <h5 class="text-center">Vendas</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Qtd pedidos</th>
                        <th scope="col">R$ pedidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedido of faturamento">
                        <th scope="row">{{pedido.status}}</th>
                        <th scope="row" class="text-center">{{pedido.total}}</th>
                        <th scope="row" class="text-center">{{pedido.totalValor}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row p-0 m-0">
        </div>
    </div>
</main>
<ng-template #erro>
    <div class="alert alert-danger text-center" role="alert">
        <strong>USUARIO PRECISA ESTAR LOGADO!</strong>
    </div>
</ng-template>