<table id="produto" class="table">
    <thead id="tabela" class=" text-center">
        <tr>
            <th scope="col-md-1">Codigo</th>
            <th scope="col-md-1">Produto</th>
            <th scope="col-md-1">Descrição</th>
            <th scope="col-md-1">Valor</th>
            <th scope="col-md-1">Valor com desconto</th>
            <th scope="col-md-1">Categoria</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <th scope="row">1</th>
            <td>ESFERA </td>
            <td>DBZ</td>
            <td>R$80000</td>
            <td>R$20000</td>
            <td>20</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>ESFERA </td>
            <td>DBZ</td>
            <td>R$80000</td>
            <td>R$20000</td>
            <td>20</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>ESFERA </td>
            <td>DBZ</td>
            <td>R$80000</td>
            <td>R$20000</td>
            <td>20</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>ESFERA </td>
            <td>DBZ</td>
            <td>R$80000</td>
            <td>R$20000</td>
            <td>20</td>
        </tr>


    </tbody>
</table>