
ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.list-group-item:hover{
    background: #A7E0D7;
    color: black;
    cursor: pointer;
}

.corpo{
    background: darkslategray;
    color: white;
}

#coluna{
    height: 100vh;
}

.col-md-9{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.alinhar{
 display: flex;
 justify-content: space-between;
}