<div class="col-md-12 p-0 corpo" style="height: 100vh;">
    <div class="card-header corpo" style="width:auto;">
        DashBoard
    </div>
    <div class="corpo" style="width: auto;">
        <ul class="list-group list-group-flush corpo">
            <a>
                <li class="list-group-item corpo">Meus clientes</li>
            </a>
            <a>
                <li class="list-group-item corpo">Pedidos</li>
            </a>
            <a routerLink="/produto_config">
                <li class="list-group-item corpo">Produtos</li>
            </a>
            <a>
                <li class="list-group-item corpo">Faturamento</li>
            </a>
            <a>
                <li class="list-group-item corpo">Dados</li>
            </a>
            <a (click)="deslogar()">
                <li class="list-group-item corpo"><img src="../../../assets/exit.png" alt="sair" title="sair"></li>
            </a>
        </ul>
    </div>
</div>
